// Colors
$dark_bg: #17254c;
$blue_bg: #035fff;
$text_one: #05365c;
$text_two: #8e96a3;
$input-border: rgb(224 224 224 / 50%);
$active-border: #0077B6;

// Fonts
$poppins: 'Poppins', sans-serif;
// $averta-thin: 'Averta-Thin', sans-serif;
// $averta-light: 'Averta-Light', sans-serif;
// $averta-regular: 'Averta-Regular', sans-serif;
// $averta-semibold: 'Averta-Semibold', sans-serif;
// $averta-bold: 'Averta-Bold', sans-serif;
// $averta-extrabold: 'Averta-ExtraBold', sans-serif;