// Colors
$dark_bg: #05365c;
$blue_bg: #2196F3;
$text_one: #05365c;
$text_two: #817f82;
$input-border: rgb(224 224 224 / 50%);
$active-border: #0077B6;

// Fonts
$raleway: 'Raleway', sans-serif;
$opensans: 'Open Sans', sans-serif;