// @import url('http://fonts.cdnfonts.com/css/averta-blackitalic?styles=17711,17713,17717,17720,17722,17723');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

@import 'variables.scss';
@import 'mixins.scss';


html {
    font-size: 16px;
}

body {
    background: url('../assets/bg.jpg');
    background-repeat: no-repeat;
    background-position: left;
}

.wrapper {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 6em;
    font-family: $poppins;
    background: #ffffff;
    padding: 3em;
    padding-top: 5em;
    margin-top: 6em;
    box-shadow: 0px 4px 14px 2px rgb(0 0 0 / 10%);

    .close-btn {
        position: absolute;
        z-index: 99;
        top: 16px;
        right: 16px;
        cursor: pointer;
        svg {
            height: 1.5em;
        }
    }
}


.form {
    padding-right: 3em;
    &-header {
        @include setFlex(flex, center, space-between, initial);
        margin-bottom: 5em;
        .logo {
            @include setFlex(flex, center, space-between, initial);
            &-circle {
                height: 3em;
                width: 3em;
                display: block;
                background-color: $blue_bg;
                border-radius: 50%;
            }
            h1 {
                font-size: 1.75em;
                font-weight: 600;
                margin-left: .6em;
                color: $text_one;
                .lean {
                    font-weight: 300;
                }
            }
        }

        .timer {
            font-size: 1.35em;
            font-weight: 500;
            &-box {
                background-color: $dark_bg;
                color: #fff;
                height: 1.9em;
                width: 1.3em;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border-radius: 4px;
                margin-left: -4px;
            }
            &-divider {
                position: relative;
                right: 2px;
            }
        }
    }
    &-body {
        form {
            .input-group {
                margin-bottom: 2em;
                .header {
                    @include setFlex(flex, center, space-between, initial);
                    margin-bottom: 1.8em;
                    .description {
                        .title {
                            text-transform: capitalize;
                            font-size: 1.1em;
                            font-weight: 700;
                            color: $text_one;
                            margin-bottom: .4em;
                        }
                        .desc {
                            font-size: .77em;
                            font-weight: 500;
                            color: $text_two;

                        }
                    }
                    button.edit {
                        @include setFlex(flex, center, space-between, initial);
                        color: #1da1f2;
                        svg {
                            height: .9em;
                            fill: #1da1f2;
                        }
                        .btn-desc {
                            display: block;
                            margin-left: .6em;
                            font-weight: 500;
                        }
                    }
                }
                .main {
                    position: relative;
                    margin-top: 1em;
                    img {
                        position: absolute;
                        &.leading-icon {
                            left: 0;
                            height: 2em;
                            top: 50%;
                            transform: translate(0, -50%);
                            left: 1.2em;
                        }
                        &.trailing-icon {
                            right: 0;
                            height: 1.5em;
                            top: 50%;
                            transform: translate(0, -50%);
                            right: 1.5em;
                        }
                    }
                    input {
                        border: 2px solid $input-border;
                        width: 100%;
                        padding: 1em 4em 1em 4em;
                        font-size: 1.2em;
                        font-weight: 600;
                        border-radius: 6px;
                        background: linear-gradient(45deg, #f5f8ff, transparent);
                        color: $text_one;
                        &:focus {
                            outline-color: $active-border;
                        }
                        &::placeholder {
                            font-weight: 400;
                            opacity: .5;
                        }
                    }
                }

                &.__col {
                    @include setFlex(flex, center, space-between, initial);
                    .grp {
                        @include setFlex(flex, center, space-between, initial);
                        width: 400px;
                        position: relative;
                        .divider {
                            display: block;
                            font-size: 1.5em;
                            font-weight: 500;
                            color: $text_one;
                            position: absolute;
                            left: 50%;
                            transform: translate(-50%, 0);
                        }
                    }
                    .main {
                        margin-top: 0;
                        width: 400px;
                        input {
                            padding-right: 0;
                            padding-left: 0;
                            text-align: center;
                            background: none;
                            &:focus {
                                background: rgb(0 119 182 / 5%);
                            }
                        }
                        input[type="password"] {
                            text-align: left;
                            padding-left: 1.5em;
                            letter-spacing: .3em;
                        }
                        .trailing-icon {
                            opacity: .35;
                        }
                        &.__date {
                            width: 42%;
                        }
                    }
                }
            }
            .btn-submit {
                background-color: $blue_bg;
                width: 100%;
                padding: 1.2em 0;
                margin-top: .75em;
                box-sizing: border-box;
                color: #fff;
                text-transform: capitalize;
                font-size: 1.2em;
                font-weight: 500;
                border-radius: .6em;
                transition: all 250ms ease-in-out;
                &:hover {
                    background-color: #1254d6;
                }
            }
        }
    }
}

.checkout {
    position: relative;
    height: 100%;
    width: 90%;
    float: right;
    .credit-card {
        width: 16em;
        height: 23.4em;
        background: linear-gradient(180deg, rgb(255 255 255 / 60%), #fff);
        backdrop-filter: blur(15px);
        padding: 2em;
        border-radius: 1em;
        box-shadow: 0px 4px 14px 2px rgba(224, 224, 224, 0.6);
        position: relative;
        z-index: 99;
        left: 50%;
        transform: translate(-50%, 0);
        overflow: hidden;
        &__head {
            position: relative;
            @include setFlex(flex, center, space-between, initial);
            margin-bottom: 8em;
            img {
                height: 1.8em;
            }
            .chip{
                height: 3.5em;
            }
            .wifi{}
        }
        &__body {
            position: relative;
            color: $text_one;
            span {
                display: block;
            }
            .holder {
                text-transform: capitalize;
                font-size: .95em;
                font-weight: 500;
                margin-bottom: .5em;
                color: #616161;
            }
            .card-digits {
                display: flex;
                margin-bottom: .5em;
                .hidden-digits {
                    @include setFlex(flex, center, initial, initial);
                    margin-right: .5em;
                    .circle {
                        height: .4em;
                        width: .4em;
                        border-radius: 50%;
                        background-color: $dark_bg;
                        margin-right: .4em;
                    }
                }
                .visible-digits {
                    font-size: 1.1em;
                    font-weight: 700;
                }
            }
        }
        &__footer {
            @include setFlex(flex, center, space-between, initial);
            position: relative;
            top: 1.4em;
            .expiry {
                font-size: 1em;
                font-weight: 600;
            }
            .logo {
                height: 2.5em;
            }
        }
        .card__design {
            width: 700px;
            height: 700px;
            border: 1px solid #ebebeb;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 3.5em;
            left: -6em;
            z-index: -1;
            .inner {
                display: inline-block;
                width: 570px;
                height: 570px;
                border-radius: inherit;
                border: inherit;
            }
        }
    }
    .blu {
        display: block;
        height: 1.5em;
        width: 5em;
        background-color: #035fff;
        position: absolute;
        top: -7px;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .checkout-details {
        background-color: #f0f3f8;
        height: 82%;
        width: 100%;
        border-radius: 1em;
        position: absolute;
        bottom: 0;
        .purchase-data {
            position: relative;
            top: 15.5em;
            padding: 2em;
            .data {
                @include setFlex(flex, center, space-between, initial);
                text-transform: capitalize;
                font-size: 1em;
                color: $text_two;
                margin-bottom: 1.2em;
                .title {
                    font-size: .85em;
                    font-weight: 500;
                }
                .value {
                    @include setFlex(flex, center, space-between, initial);
                    img {
                        height: 1.5em;
                    }
                    .inner-text {
                        color: $text_one;
                        font-weight: 600;
                        margin-left: .6em;
                    }
                }
            }
        }
        .divider {
            position: absolute;
            bottom: 7.4em;
            width: 100%;
            border: 4px dashed #cbcbcb;
            display: flex;
            align-items: center;
            .left, .right {
                position: absolute;
                height: 2.65em;
                width: 2.65em;
                background-color: #fff;
                border-radius: 50%;
            }
            .left {
                bottom: -15px;
                left: -25px;
            }
            .right {
                bottom: -15px;
                right: -25px;
            }
            &::before {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 2em;
                background-color: #f0f3f8;
                bottom: -30px;
            }
        }
        .purchase-total {
            position: absolute;
            bottom: 1.4em;
            width: 100%;
            padding: 0 2em;
            @include setFlex(flex, center, space-between, initial);
            .total {
                .desc {
                    color: #8e96a3;
                    font-size: .9em;
                    font-weight: 500;
                }
                .t-amount {
                    @include setFlex(flex, center, initial, initial);
                    color: $text_one;
                    .amount {
                        font-size: 2em;
                        font-weight: 700;
                        sub {
                            font-size: .6em;
                            position: relative;
                            bottom: 1px;
                            font-weight: 500;
                        }
                    }
                    .symbol {
                        position: relative;
                        top: 4px;
                        font-size: 1.1em;
                        margin-left: .2em;
                        color: #8e96a3;
                    }
                }
            }
            img {
                height: 1.6em;
            }
        }
    }
}